body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/rockywall.png");
}
.header {
  background-color: #4aaaa5;
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.heading {
  float: left;
  clear: right;
  line-height: 0;
  background-color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
}

#Joshua_Kelly {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: aqua;
  text-align: center;
  padding: 22px;
  width: 120px;
  position: absolute;
  left: 480px;
}
.list {
  display: inline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}

ul {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  float: right;
  line-height: 0;
  right: 425px;
  position: relative;
}

li {
  display: inline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}

.Content {
  background-color: #ffffff;
  border-color: black;
  clear: left;
  width: 960px;
  margin: 30px 480px 342px;
  height: 500px;
  border-style: solid;
  border-width: 5px;
}

#About_Me {
  color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 30px;
  font-weight: bolder;
  font-size: large;
}

#gray_box {
  background-color: lightgrey;
  padding: 2px;
  margin: 0px 30px;
}

img {
  width: 232px;
  height: 150px;
  margin: 20px 30px;
  float: left;
}
.Paragraphs {
  line-height: 2;
  margin: 30px;
}

#p_one {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}

#p_two {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}

#p_three {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}

footer {
  background-color: #666666;
  text-align: center;
  position: sticky;
  bottom: 0;
  padding: 20px;
  border-top-color: aqua;
  border-top-style: solid;
  border-top-width: thick;
  color: white;
}
