body {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/rockywall.png");
  color: #777777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #ffffff;
  border-color: #cccccc;
  border-bottom-style: solid;
  margin-bottom: 25px;
}
#logo {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
  background: #4aaaa5;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  padding: 30px;
  display: inline-block;
}
nav {
  float: right;
  margin-top: 2.5rem;
}
nav a {
  padding: 10px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}
nav a:first-child {
  border-left: 0 none;
}
h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #4aaaa5;
  border-color: #cccccc;
  border-bottom-style: solid;
  padding: 25px;
  margin: 0.5rem;
}
section {
  clear: both;
  background-color: #ffffff;
}
.auth-image {
  float: left;
  width: 20rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
p {
  padding: 0;
  margin-right: 0.5rem;
}
footer {
  margin-top: 50px;
  padding: 30px;
  color: #ffffff;
  text-align: center;
  background: #666666;
  border-top: 5px solid #4aaaa5;
}
/* portfolio page */
.work {
  position: relative;
  width: 260px;
  margin: 20px 0 25px;
}
.work:nth-child(even) {
  margin-right: 40px;
}
.work img {
  width: 100%;
  border: 0 none;
}
.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 125px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
}
/* contact page */
#contact-form li {
  margin-bottom: 10px;
  list-style: none;
}
label,
input[type="text"],
input[type="email"],
textarea {
  display: flex;
  color: black;
}
input[type="text"],
input[type="email"],
textarea {
  border: 1px solid darkgrey;
  height: 2rem;
  font-size: 14px;
}
textarea {
  height: 15rem;
  width: 55rem;
}
input[type="submit"] {
  padding: 10px 30px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 1.25rem;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
}
